body{
    background-color: #1f004d;
}

*{
    font-family: Arial, sans-serif;
}

.container-title{
    color: white;
}

#container{
    width: 65%;
    margin: 0 0 0 20%;
    display: flex;
    flex-direction: column;
}

#movie-info{
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
}

#movie-info img{
    object-fit: contain;
    width: 100%;
}

#movie-info h2{
    color:indigo;
    margin: 15px;
    margin-top: 30px;
}
#movie-info p{
    color: indigo;
    margin: 15px;
    margin-bottom: 30px;
}
.review-form-item{
    border-radius: 10px;
    padding:10px;
    margin-bottom: 10px;

}
#review-form{
    display: flex;
    flex-direction: column;
}
#review-text-input{
    height: 50px;
}
#review-rating-input{
    width: 150px;
}

.review-button{
    all: unset;
    background-color: white;
    color: black;
    width: fit-content;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
}
#review-container{
    list-style: none;
    padding: 0;
}

.review-post{
    border-radius: 20px;
    padding: 20px 20px;
    background-color: #371587;
    margin-top: 20px;
    color: white;
}

@media only screen and (max-width: 600px) {
    #container{
        width: 100%;
        margin: 0;
    }
    #review-rating-input{
        width: unset;
    }
    #review-post-button{   
        width: unset;
    }
}